.results {
  background-color: transparent;
  display: flex;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.btn-load {
  background-color: #003566;
  height: 200px;
  /* margin-top: 0; */
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 80px;
  margin-bottom: 20px;
  height: 40px;
  color: white;
  font-weight: bold;
  width: 500px;
}

@media (max-width: 750px) {
  .btn-load {
    margin-left: 100px;
    margin-right: 100px;
  }
}
